/* Global */

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h3, p {
  margin: 0;
}
/*
label {
  display: block;
}
*/
input[type="text"] {
  display: block;
  width: 300px;
  padding: 10px;
}

/* Header */

header {
  width: 100%;
  padding: 15px 0 10px 0;
  border-bottom: solid 5px #CCCCCC;
}

.logo {
  height: 54px;
  padding-left: 20px;
}

/* Main Content */

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.status {
  background-color: #DEDEDE;
  padding: 5px 0 5px 5px;
}







.title-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.title-link:hover {
  text-decoration: none;
}

.button {
  width: 250px;
  margin: 10px 0 5px 0;
  padding: 8px 0;
  background-color: #CCCCCC;
  color: #222222;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.button:hover {
  text-decoration: none;
}
